.benefitLists {
	padding: 20px;
	width: 70%;
	margin: 0 auto;
	padding-top: 7em;
	padding-bottom: 7em;
}
.benefitLists ul {
	display: flex;
	padding: 0;
	list-style: none;
	gap: 2em;
	flex-wrap: wrap;
}
.benefitLists h1 { color: #4C4C4C; font-size: 25px; }
.benefitLists p { color: #797979; font-size: 15px; }

.benefitLists svg {
	color: #009A2E;
	font-size: 45px;
}

.benefitLists ul li {
	opacity: 0;
	transform: translateY(20px);
	flex: 1;
	transition: all 0.5s ease;
}

.benefitLists.animate ul li {
	animation: showd 500ms ease forwards;
}

@for $i from 1 through 10 {
	.benefitLists.animate ul li:nth-child(#{$i}) {
		animation-delay: #{($i - 1) * 200}ms;
	}
}

@keyframes showd {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}


@media screen and (max-width: 1200px) {
	.benefitLists {
		width: 100%;
	}
	.benefitLists ul {
		display: grid;
		grid-template-columns: auto auto;
	}
}
