.gestaoColab {
	width: 100%;
	margin-bottom: 2em;
}

.container-inclusoes span {
	color: #009A2E !important;
	font-weight: 900;
}

#gesexp {
	text-align: center;
	color: white;
	margin-bottom: 2em;
}

#downloader {
	display: flex;
	margin-top: 2em;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #009A2E;
	gap: 1em;
}
#downloader:hover{
	color: #005e1c;
}
#downloader svg {
	width: fit-content;
	margin: 0;
}

.flexGestao {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 3em;
}

.gestaoColab h1 {
	font-size: 70px;
	color: white;
	text-align: center;
}
.container-inclusoes, .container-exclusoes {
	width: 80%;
	margin: 0 auto;
}
.inclusoes {
	width: 420px;

	background-color: white;
	padding: 30px;
	border-radius: 20px;
	border: 20px;
	
}
.exclusoes {
	width: 420px;

	background-color: #00561A;
	padding: 30px;
	border-radius: 20px;
	border: 20px;
	color: white;
	
}

.gestaoColab svg {
	font-size: 100px;
	width: 100%;
	margin: 30px 0;
}
.inclusoes svg {
	color: #009A2E;
}
.exclusoes svg {
	color: white;
}



.headInclusoes {
	background-color: #007021;
	color: white;
	text-align: center;
}
.headExclusoes{
	background-color: #008533;
	text-align: center;
	color: white;
}
.headInclusoes h2, .headExclusoes h2 {
	font-size: 30px;
	margin: 0;
}

.headInclusoes p, .headExclusoes p {
	font-size: 12px;
	margin: 0;
}
.headInclusoes, .headExclusoes {
	padding: 10px;
	border-radius: 10px;
}

.gestaoAlert {
	width: 100%;
	padding: 20px;
}

.containerGestao {
	border-radius: 10px;
	width: fit-content;
	margin: 0 auto;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
.gestaoAlert svg {
	width: fit-content;
	font-size: 30px;
	margin: 0;
}
.contentAlert {
	font-size: 12px;
	text-align: left;
}
.contentAlert h2, p{
	margin: 0;
}


@media screen and (max-width:1025px) {
	.gestaoColab h1 {
		font-size: 40px;
	}	
}