.optionsBenefits {
	padding: 20px;
	padding-top: 5em;
}
.optionsBenefits ul {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
	align-items: center;
	justify-content: center;
}
#titleOptions {
	font-size: 70px;
	color: #009A2E;
	text-align: center;
}

@media screen and (max-width:1025px) {
	#titleOptions {
		font-size: 40px !important;
		text-align: center;
	}	
}