.how-works {
	padding: 20px;
}
#howWorksTitle {
	font-size: 70px;
	text-align: center;
	font-weight: 900;
	color: #009A2E;
}

.how-works ul {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 5em;
	list-style: none;
}
.how-works ul li {
	opacity: 0;
}

.how-works.animate ul li {
	animation: showd 500ms ease forwards;
}

@for $i from 1 through 10 {
	.how-works.animate ul li:nth-child(#{$i}) {
		animation-delay: #{($i - 1) * 200}ms;
	}
}

@keyframes showd {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}


@media screen and (max-width:1025px) {
	#howWorksTitle {
		font-size: 40px !important;
	}	
}