.paymentWorks{
	padding: 5em 0;
	width: 70%;
	margin: 0 auto;
}
.paymentWorks svg {
	color: #04882C;
	font-size: 70px;
}
.whiteIcon {
	color: rgb(190, 190, 190) !important;
	font-size: 40px !important;
}

.iconslist{
	display: flex;
	gap: 10px;
	align-items: center;
	margin-top: 2em;
}
.paymentWorks h1 {
	font-size: 70px;
	color: #04882C;
	font-weight: 900;
}
.paymentWorks p {
	font-size: 15px;
	text-align: justify;
	color: rgb(87, 87, 87);
}
.flexPayment {
	display: flex;
	gap: 5em;
	align-items: center;
}

.splitter {
	flex: 1;
}

.flexPayment figure {
	border: 1px solid #ccc;
	margin: 0 auto;
	border-radius: 20px;
	display: flex;
}
.flexPayment img {
	width: 100%;
	margin: 0 auto;
	border-radius: inherit;
}


@media screen and (max-width: 1200px) {
	.flexPayment {
		flex-direction: column;
	}
	.paymentWorks {
		text-align: center;
	}
	.iconslist {
		align-items: center;
		justify-content: center;
	}
	.paymentWorks h1 {
		font-size: 40px;
	}
}

